:root {
	--primary-color: rgba(51,153,255,1); 
}

* {
	box-sizing: border-box;
	font-size: small;
}

html, body {
	margin: 0;
	padding: 0;
}

#root {
	height: 100vh;
	width: 100vw;
}

.App {
	height: 100%;
	padding: 1rem;
}
	.App .dropdown-item a {
		width: 100%;
		text-align: left;
	}

.nav {
	background-color: rgba(51,153,255,1); 
	display: flex;
	justify-content: space-between;
}
	.nav * {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		color: pink;
	}
	.nav button {
		font-size: 1rem;
	}
	#nav_header {
	 margin: 0;
	 padding: 1rem;
	 font-size: 4em;
	}
	#navigation {
		width: 25%;
	 	padding: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	#cart_icon { 
		position: relative;
		text-decoration: none;
	}
	#cart_badge {
		height: 25px;
		width: 25px;
		padding: 1rem;

		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 50%;
		left: 50%;

		font-size: small;
		color: white;
		background-color: red;
		border: 2px solid white;
		border-radius: 50%;
	}

.Landing {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
	#landingBanner {
		height: 75%;
		margin-top: 2rem;
		position: relative;
		z-index: 1;
		background-image: url('../assets/images/market_1920x1196.jpg');
		background-size: cover; 
		color: white;
	}
		#landingBanner h1 {
			padding: 1rem;
			font-size: 4rem;
			position: relative;
			z-index: 3;
		}
    #landingBanner span {
			font-size: 4rem;
			position: relative;
			z-index: 3;
		}
		#landingBanner h2 {
			height: 50%;
			padding-left: 6rem;
			position: relative;
			z-index: 3;
			font-size: 2rem;
		}
		#landingBanner .overlay {
			z-index: 2;
		}

	#latestItems {
		min-height: 50%;
		min-width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		position: relative;
		padding: 1rem 0;

		display: flex;
		background-color: var(--primary-color);
	}
		#latestItems .card {
			height: 100%;
			width: 50%;
			margin-left: 1rem;
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#latestItems .card-text {
			overflow: scroll;
		}
		#latestItems .card img {
			height: 50%;
			width: 50%;
			margin-bottom: 1rem;
		}
		#latestItems .card-body a {
			text-align: center;
		}
		#latestItems .card-body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: lightgrey;
			color: black;
		}


.Category {
	height: 100%;
	width: 100%;
	padding: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	.Category * {
		color: black;
	}
	.Category h1 {
		font-size: 4rem;	
		text-align: center;
	}
	.Category .spinner-grow-text-primary {
		height: 75%;
		font-size: 8rem;
	}
	.Category .products {
		height: 100%;
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.Category img {
		max-height: 100px;
		max-width: 100px;
		margin: 2rem auto;
	}
	.Category .card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.Category .card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: black;
	}
	.Category .card-body a {
		text-align: center;
	}

.Product {
	height: 75%;
	width: 88%;
	margin: 4rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
	.Product .thumbnail {
		height: 75%; 
		width: 75%;
		margin: auto;
	}
	.Product .details {
		height: 75%;
		width: 75%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.Product .subheading {
		text-align: right;
		color: pink;
	}
	.Product .heading {
		padding-right: 1rem;
		text-align: right;
		font-size: 4rem;
		background-color: rgba(255,0,0,0.3);
		color: var(--primary-color);
	}
	.Product .description {
		height: 25%;
		padding: 1rem;
		display: flex;
		align-items: center;
		font-size: 1rem;
		border-top: 1px solid var(--primary-color);
		border-bottom: 1px solid var(--primary-color);
	}
	.Product .footer {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
	}

.Cart {
	height: 75%;
	margin-top: 1rem;
	padding: 2rem 0;
	position: relative;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.Cart .cards {
		height: 75%;
		width: 75%;
		padding: 1rem;
		margin: 1rem 0;
		border-top: 1px solid var(--primary-color);
		border-bottom: 1px solid var(--primary-color);
	} 
	.Cart .card {
		margin: auto;
		margin-bottom: 1rem;
		padding: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.Cart .actions {
		width: 75%;
		display: flex;
		justify-content: space-between;
	}
	.Cart img {
		height: 50px;
		width: 50px;
	}

.Checkout {
	height: 100%;
	width: 100%;
	margin-top: 2rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
}
	.Checkout .card {
		height: 100%;
		width: 50%;
		margin: auto;
		overflow: scroll;
		border: none;
		box-shadow: 1px 1px 10px var(--primary-color);
	}
	.Checkout .card-title {
		padding: 1rem;
		text-align: center;
		font-size: 2rem;
		font-weight: bolder;
	}
	.Checkout form {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.Checkout .names {
		width: 75%;
		margin: auto;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
		.Checkout .names input {
			width: 100%;
			margin: auto;
		}

	.Checkout .email { 
		width: 75%;
		margin: auto;
	}

	.Checkout .address {
		width: 75%;
		margin: 2rem auto;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(3, 1fr);
	}

	.Checkout .payment {
		width: 75%;
		margin: auto;
	}

	.Checkout .placeOrder {
		width: 50%;
		margin-top: 2rem;
	}

/* Utility Classes */
.highlight {
	color: pink;
	text-decoration: underline;
}
.overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(51,153,255,0.5); 
}
